# Map incorrect machine-specific emails to correct GitHub email
# Format: Proper Name <proper@email> <old@email>

Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a11201.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a11302.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a13104.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a13302.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a13404.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a13502.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a13601.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a15102.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a17402.rc.fas.harvard.edu>
Audrey Cherilyn <audrey.cherilyn.tan@gmail.com> <acherilyn@holygpu8a17501.rc.fas.harvard.edu>

